body {
  background: snow;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.ball {
  left: 50%;
  position: absolute;
  top: 0px;
  background-size: cover;
  transform: translate(-50%, -50%) rotate(0deg); /* Establece la rotación inicial a 0deg */
  width: 60px;
  height: 60px;
  animation: bounce 1s alternate ease-in-out infinite, rotate 5s linear infinite; /* Agrega una animación continua de rotación */
}

@keyframes bounce {
  0% {
    top: 40px;
  }
  
  100% {
    top: 12.9vh;
  }
}

/* Agrega una animación de rotación continua */
@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg); /* Rota 360 grados para una rotación continua */
  }
}

.jazz-shadow {
  height: 10px;
  border-radius: 35%;
  background-color: #0000004f;
}
